<div th:fragment="footer">
    <!-- FOOTER -->
    <footer id="footer" style="background-color: #15161D; color: white; margin-top: auto;">
        <!-- top footer -->
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-xs-6">
                        <div class="footer">
                            <h3 class="footer-title">Sobre Nós</h3>
                            <p>Loja especializada em sapatos de qualidade. Os melhores modelos e marcas do mercado.</p>
                            <ul class="footer-links">
                                <li><a href="#"><i class="fa fa-map-marker"></i>Natal, RN - Brasil</a></li>
                                <li><a href="#"><i class="fa fa-phone"></i>+55 84 99999-9999</a></li>
                                <li><a href="#"><i class="fa fa-envelope-o"></i>contato@lojasapatos.com</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-3 col-xs-6">
                        <div class="footer">
                            <h3 class="footer-title">Categorias</h3>
                            <ul class="footer-links">
                                <li><a href="#">Sapatos Sociais</a></li>
                                <li><a href="#">Tênis</a></li>
                                <li><a href="#">Sandálias</a></li>
                                <li><a href="#">Botas</a></li>
                                <li><a href="#">Chinelos</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-3 col-xs-6">
                        <div class="footer">
                            <h3 class="footer-title">Informações</h3>
                            <ul class="footer-links">
                                <li><a href="#">Sobre Nós</a></li>
                                <li><a href="#">Contato</a></li>
                                <li><a href="#">Política de Privacidade</a></li>
                                <li><a href="#">Trocas e Devoluções</a></li>
                                <li><a href="#">Termos e Condições</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-3 col-xs-6">
                        <div class="footer">
                            <h3 class="footer-title">Atendimento</h3>
                            <ul class="footer-links">
                                <li><a href="#">Minha Conta</a></li>
                                <li><a href="#">Ver Carrinho</a></li>
                                <li><a href="#">Lista de Desejos</a></li>
                                <li><a href="#">Rastrear Pedido</a></li>
                                <li><a href="#">Ajuda</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /top footer -->

        <!-- bottom footer -->
        <div id="bottom-footer" class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <span class="copyright">
                            Copyright &copy; 2025 Loja de Sapatos UFRN. Todos os direitos reservados.
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <!-- /bottom footer -->
    </footer>
    <!-- /FOOTER -->
</div>
