<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Loja de Sapatos - UFRN</title>

    
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

    
    <link type="text/css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>

    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
          integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer">

    
    <link type="text/css" rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>

<div th:fragment="header">
    <!-- HEADER -->
    <header>
        
        <div id="top-header">
            <div class="container">
                <ul class="header-links pull-left">
                    <li><a href="#"><i class="fa fa-phone"></i> +55 84 99999-9999</a></li>
                    <li><a href="#"><i class="fa fa-envelope-o"></i> contato@lojasapatos.com</a></li>
                    <li><a href="#"><i class="fa fa-map-marker"></i> Natal, RN - Brasil</a></li>
                </ul>
                <ul class="header-links pull-right">
                    <li><a href="#"><i class="fa fa-dollar"></i> BRL</a></li>

                    <!-- Links para usuários NÃO logados conforme Questão 12 -->
                    <th:block sec:authorize="!isAuthenticated()">
                        <li><a th:href="@{/login}"><i class="fa fa-sign-in"></i> Login</a></li>
                        <li><a th:href="@{/cadUsuario}"><i class="fa fa-user-plus"></i> Cadastrar</a></li>
                    </th:block>

                    <!-- Username e logout para usuários logados conforme Questão 12 -->
                    <th:block sec:authorize="isAuthenticated()">
                        <li>
                            <span style="color: white; padding: 10px;">
                                <i class="fa fa-user"></i>
                                Olá, <span sec:authentication="name">Username</span>
                            </span>
                        </li>
                        <li>
                            <form th:action="@{/logout}" method="post" style="display: inline;">
                                <button type="submit" style="background: none; border: none; color: #D10024; cursor: pointer; padding: 10px;">
                                    <i class="fa fa-sign-out"></i> Logout
                                </button>
                            </form>
                        </li>
                    </th:block>
                </ul>
            </div>
        </div>
        

        
        <div id="header">
            <div class="container">
                <div class="row">
                    <!-- LOGO -->
                    <div class="col-md-3">
                        <div class="header-logo">
                            <a href="/" class="logo">
                                <h2 style="color: #D10024; margin: 0; font-weight: bold;">
                                    <i class="fa fa-shopping-bag"></i> SapatoShop
                                </h2>
                            </a>
                        </div>
                    </div>
                    <!-- /LOGO -->

                    <!-- ESPAÇO CENTRAL -->
                    <div class="col-md-6">
                        <div class="header-search" style="text-align: center; padding-top: 20px;">
                            <h4 style="color: #2B2D42; margin: 0;">
                                <i class="fa fa-star"></i> Os Melhores Sapatos do Brasil <i class="fa fa-star"></i>
                            </h4>
                            <p style="color: #666; margin: 5px 0 0 0;">
                                <i class="fa fa-heart"></i> Qualidade e conforto em cada passo
                            </p>
                        </div>
                    </div>
                    <!-- /ESPAÇO CENTRAL -->

                    
                    <div class="col-md-3 clearfix">
                        <div class="header-ctn">
                            <div>
                                <a th:href="@{/verCarrinho}" class="cart-link">
                                    <i class="fa fa-shopping-cart"></i>
                                    <span>Carrinho</span>
                                    <div class="qty" th:text="${session.carrinho != null ? session.carrinho.size() : 0}">0</div>
                                </a>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        
    </header>
    

    <!-- NAVIGATION COM CONTROLE DE ABAS ATIVAS -->
    <nav id="navigation">
        <div class="container">
            <div id="responsive-nav">
                <ul class="main-nav nav navbar-nav">
                    <!-- Home - ativo baseado na página atual -->
                    <li th:classappend="${currentPage == 'home' ? 'active' : ''}">
                        <a th:href="@{/}">
                            <i class="fa fa-home"></i> Home
                        </a>
                    </li>

                    <!-- Admin - ativo baseado na página atual -->
                    <th:block sec:authorize="hasRole('ADMIN')">
                        <li th:classappend="${currentPage == 'admin' ? 'active' : ''}">
                            <a th:href="@{/admin}">
                                <i class="fa fa-cogs"></i> Administração
                            </a>
                        </li>
                    </th:block>

                    <!-- Cadastrar - apenas para usuários não logados -->
                    <th:block sec:authorize="!isAuthenticated()">
                        <li th:classappend="${currentPage == 'cadastro' ? 'active' : ''}">
                            <a th:href="@{/cadUsuario}">
                                <i class="fa fa-user-plus"></i> Cadastrar
                            </a>
                        </li>
                    </th:block>
                </ul>
            </div>
        </div>
    </nav>
    <!-- /NAVIGATION -->
</div>

</body>
</html>
